body {
    background-color: var(--bg-color);
}

.root-hero {
    display: flex;
    width: 100%;
    @media (max-width: 1199.98px) {
        flex-direction: column;
    }
}

.hero-title {
    position: relative;
    z-index: 2;
    width: 50%;
    padding-top: 350px;
    display: flex;
    justify-content: flex-end;
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--brand-color-second);
    @media (max-width: 1199.98px) {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 150px;
    }
}