.root {
  position: fixed;
  inset: 0;
  z-index: var(--nav-index);
}

.nav-links-list {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(59 77 116 / 20%);
  opacity: 0;

  transform-origin: center center;

  animation: fade-out .3s ease both;

  backdrop-filter: blur(10px);

  &.active {
    animation: fade-in .3s ease both;
  }
}

.nav-link {
  font-size: 36px;
  letter-spacing: .3em;
  text-decoration: line-through;
  text-transform: uppercase;

  color: #fff;

  opacity: .1;

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;

    transform: scale(0);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;

    transform: scale(1);
  }

  100% {
    opacity: 0;

    transform: scale(0);
  }
}