.root {
  position: relative;

  margin-bottom: 20px;
  letter-spacing: 2.1px;
  text-transform: uppercase;

  color: var(--brand-color-first);

  &::before {
    content: '';
    position: absolute;
    left: 71px;
    bottom: 0;

    display: inline-block;
    width: 1px;
    height: 20px;

    opacity: .5;
    background-color: var(--brand-color-second);
  }

  svg {
    width: 50px;
    height: auto;
    margin-right: 41px;
    margin-bottom: -3px;

    fill: var(--brand-color-first);
  }

  @media (width >= 764px) {
    margin-right: auto;
    margin-bottom: 0;
  }
}