@import "styles/functions";

.root {
  position: relative;

  display: flex;
  align-items: flex-end;

  p {
    display: none;
    margin-bottom: -3px;

    letter-spacing: .25em;
    text-transform: uppercase;

    color: var(--brand-color-first);
  }

  &::before {
    content: '';
    position: absolute;
    left: 61px;
    bottom: 0;

    display: none;
    width: 1px;
    height: 20px;

    opacity: .5;
    background-color: var(--brand-color-second);
  }

  svg {
    width: 50px;
    height: auto;
    margin-bottom: 0;

    fill: var(--brand-color-first);
  }

  @media (width >= 480px) {
    margin-right: auto;

    p, &::before {
      display: inline-block;
    }

    svg {
      margin-right: 21px;
    }
  }

  @media (width > 1920px) {
    p {
      margin-bottom: vw(-3);
    }

    &::before {
      left: vw(61);

      width: vw(1);
      height: vw(20);
    }

    svg {
      width: vw(50);
      margin-right: vw(21);
    }
  }
}