.root {
  position: relative;
  width: 50%;
  height: calc(100vh - var(--header-size));
  canvas {
    position: absolute;
    inset: -20px -20px -20px -20px;
    z-index: 0;
  }
  @media (max-width: 1199.98px) {
    position: absolute;
    inset: var(--header-size) 0 0 0;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: .2;
    canvas {
      inset: 0 0 0 0;
    }
  }
}