.root {
    display: block;

    font-family: inherit;

    border: none;

    background-color: transparent;
    cursor: pointer;

    &[disabled] {
        opacity: .5;
    }
}

.primary {
    color: var(--btn-color-primary);
    background-color: var(--btn-background-primary);
}

.outline {
    border: 1px solid var(--btn-border-outline);

    color: var(--btn-color-outline);
}

.clear {
    color: var(--btn-color-clear);
}