.root {
  position: relative;
  z-index: 1;

  max-width: var(--layout-max);
  height: auto;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;

    width: calc(100% - 40px);
    height: 1px;

    opacity: .25;
    background-color: var(--brand-color-second);
  }

  @media (width >= 764px) {
    height: var(--header-size);
    flex-direction: row;
  }
}