.root {
  position: relative;

  margin-bottom: 20px;

  display: flex;

  &::before, &::after {
    content: '';
    position: absolute;
    bottom: calc(50% - 3px);

    display: inline-block;
    width: 1px;
    height: 10px;

    opacity: .5;
    background-color: var(--brand-color-second);
  }

  &::before {
    left: 26px;
  }

  &::after {
    right: 30px;
  }

  @media (width >= 764px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.lang-link {
  padding: 0;

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.8px;

  color: var(--brand-color-first);

  &:not(.active) {
    opacity: .5;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}
