.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-size));
  max-width: var(--layout-max);
  padding: 300px 10px 0;
  margin: auto;
  align-items: center;
}

.hero-title {
  position: relative;
  z-index: 2;

  max-width: 100%;

  font-size: 2em;
  letter-spacing: .3em;
  text-align: center;

  text-transform: uppercase;

  color: var(--brand-color-second);

  animation-name: flip;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes flip {
  0% {
    opacity: 0;

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    opacity: 1;

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

